@import '/src/assets/scss/main.scss';

.container-header {
  width: 100%;
  background: $general;
  position: fixed;
  z-index: 80;
  padding: 0 10px;

  .menu-icon{
    display: none;
  }
  
  @media (min-width: $first-media) {
    padding: 2px 30px;
  }
  
  .nav-items {
    display: none;
    max-width: 1200px;
    margin: auto;
    padding: 5px 0px;

    div a {
      color: #FFFFFF;
      padding: 10px 8px;
      text-decoration: none;
      font-size: 18px;
      font-weight: 500;
      transition: .3s ease-in-out;
      margin: 0;
      border-radius: 10px;

      &:hover,
      &.active {
        background-color: #f300591f;
      }
    }
  }
}