$general: #F996BA;
.bloque-1{
    .izquierdo{
        margin-right: 50px;
    }
    .title-bloque-1{
        color: #F996BA;
    }
    .texto-bloque-1{
        width: 456px;
        
    }

    .bloque-button-rosa{
        background-color: #F996BA;
        color: white;
    }
}
.bloque-2{
    .circle-bloque{
        object-fit: cover;
    }
    .rosa-bloque-2{
        color: #F996BA;
        margin-right: 10px;
    }
    
}

.bloque-3{
    background-color: #F996BA;
    color: white;
    img{
        object-fit: cover;
    }

}